body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(32,32,32);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    padding-top: 70px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #FFFFFF;
    width: 50%;
    height: 80vh;
    min-width: 200px;
    padding: 12px;
}

.search-container {
    position: fixed;
    z-index: 2;
}

.search {
    padding: 12px;
    border: 2px black solid;
}

#heroes-list {
    margin-top: 80px;
    margin-bottom: 20px;
}

input {
    height: fit-content;
    padding: 12px;
    font-size: 1rem;
    border: 0px;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 6px;
}

img{
    width: 100%;
    cursor: pointer;
}

.image-description-container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 75%;
    padding: 20px;
    gap: 20px;
}

.image-description-container img{
    width: 40%;
    /* max-height: 40vh; */
    border-radius: 6px;
}

.description-container{
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 6px;
    background-color: rgb(47, 47, 47);
}

.details{
    color: white;
    width: 75%;
    padding: 20px;
    font-size: 14px;
}

ul{
    list-style: none;
    padding: 0;
}

.details img{
    width: 100px;
    float: left;
}

.details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 4px;
    margin-bottom: 12px;
}

.details-container img {
    width: 30%;
}

.details-container-child {
    padding: 6px;
    width: 65%;
}

#logo {
    width: 100px;
}

@media only screen and (min-width: 600px) {
    #heroes-list {
        width: 75%;
    }

    .search-container {
        width: 75%;
    }
}

@media only screen and (max-width: 750px) {
    .details {
        width: 100%;
    }
    body {
        padding-top: 50px;
    }
    .image-description-container{
        flex-direction: column;
        width: 100%;
        margin: 12px;
        height: auto;
    }
    .image-description-container img{
        width: 100%;
        height: auto;
    }
    /* .description-container {
        padding: 0;
    } */

    .details-container {
        flex-direction: column;
    }
    
    .details-container img {
        width: 100%;
    }

    .details-container-child {
        width: 100%;
    }
}